@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  border-top: 0.06rem solid $border;
  padding: 1rem;

  @include tablet {
    padding: 1rem 2rem;
  }

  @include desktop {
    padding: 1rem 7rem 1rem 10rem;
  }

  &__header {
    color: $font-primary;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @include tablet {
      font-size: 1.8rem;
      margin: 1rem 0;
    }
  }
}
