@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    height: 40vh;

    @include tablet {
        height: 70vh;
    }

    @include desktop {
        height: 80vh;
    }

    &__video {
        height: 40vh;
        object-fit: cover;
        width: 100%;
        background-color: black;

        @include tablet {
            height: 70vh;
            padding: 0 2rem;
        }

        @include desktop {
            height: 80vh;
            padding: 0 10rem;
        }
    }
}