@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
    
    &__video {
        height:45vh;
        width: 100%;
        background-color: black;
        @include tablet {
            height:70vh;
        }
    }
}