//screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
//colors
$font-primary: #323232;
$font-secondary: #afafaf;
$background-primary: #ffffff;
$background-secondary: #fafafa;
$background-hero: #000000;
$border: #e1e1e1;
$button: #0095ff;
$button-hover: #0065ad;