@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.conversation {
    padding: 0.3rem 1rem 1rem;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1.5rem 0 5rem;
    }

    &__header {
        margin-bottom: 1rem;

        @include desktop {
            margin-bottom: 1.3rem;
        }
    }

    &__list {
        @include desktop {
            margin-left: 0.5rem;
        }
    }
}