@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.conversation {
    padding: 0.3rem 1rem 1rem;
    @include tablet {
        padding: 1rem 2rem;
    }
    &__header {
        margin-bottom:1rem;
    }
}