@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
    &__form {
        display:flex;
        flex-direction: column;
        padding-top:0.7rem;
    }
    &__label {
        text-transform: uppercase;
        color: $font-secondary;
        font-size:0.73rem;
        font-weight: 700;
        padding-bottom:4px;
    }
    &__input {
        width:100%;
        padding:0.65rem;
        border:0.06rem solid $border;
        background-color: #fafafa;
        border-radius: 0.25rem;
        margin-bottom:1.5em;
        &::placeholder {
            color: $background-hero;
        }
        &--description {
            height:7rem;
            resize:none;
            margin:0;
        }
    }
    &__btns {
        padding-top:1rem;
        display:flex;
        flex-direction: column;
        gap:1rem;
    }
}