@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videos {
    &__item {
        display:flex;
        gap:1rem;
        width:20rem;
        margin-bottom:1rem;
        cursor:pointer;
        @include desktop {
            width:20rem;
            margin-bottom:1.4rem;
        &:hover {
            border-radius: 4px;
            transform: scale(1.1);
            padding:0.5rem;
            background-color: $border;
        } 
        }
    }
    &__item-img {
        height:4.1rem;
        width:7rem;
        object-fit:cover;
        background-color: $border;
        border-radius: 4px;
    }
    &__item-text {
        width:10.5rem;
        align-self: center;
    }
    &__item-title {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.125rem;
        margin-bottom:0.5rem;
    }
    &__item-channel {
        font-size: 0.81rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
}