@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videos {
    &__item {
        display:flex;
        gap:1rem;
        width:20rem;
        margin-bottom:1rem;
        cursor:pointer;
        @include tablet {
            width:40%;
        }
    }
    &__item-img {
        height:4.2rem;
        width:7rem;
        object-fit:cover;
        background-color: $border;
        border-radius: 4px;
    }
    &__item-wrap {
        width:10.5rem;
        align-self: center;
    }
    &__item-title {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom:0.5rem;
    }
    &__item-channel {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }
}