@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videos {
    &__item {
        display:flex;
        gap:1rem;
        width:19rem;
        margin-bottom:1rem;
    }
    &__item-img {
        height:4.1rem;
        width:7rem;
        object-fit:cover;
        background-color: $border;
        border-radius: 4px;
    }
    &__item-wrap {
        max-width:175px;
    }
    &__item-title {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom:1rem;
    }
    &__item-channel {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }
}